In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mlp
import seaborn as sns
import plotly.plotly as py
import cufflinks as cf
import plotly.offline as pyo
import plotly.graph_objs as go
cf.go_offline(connected=True)
import chart_studio
chart_studio.tools.set_credentials_file(username='username', api_key='api_key')
import chart_studio.plotly as py

In [4]:
data = pd.read_excel('2019 월별 전국 관광지 지출액.xlsx')
data

,월,숙박업,여행업,대중교통,렌터카,항공사,카지노,레저스포츠,면세점,문화서비스,쇼핑(면세점 제외),식음료,합계
0,1,49996449699,9451076265,66681168630,1205932848,49039885156,29431780000,59361508957,143451424089,25483248333,274419712294,918181480859,1626703667130
1,2,47195003175,5866705399,59058969697,1342363676,44440055863,23658318800,63240386852,153721548483,30525855580,269339170627,839724901253,1538113279405
2,3,45462779889,5335203008,63865838215,1411301490,46663133939,26142460000,89322257475,176909892853,22243385404,303415990437,984034999689,1764807242399
3,4,44332744646,6341655126,65669222294,1604218805,41318299980,27641890100,92838019800,211715958171,22338583830,271274990727,934732114000,1719807697479
4,5,48261718399,5811565864,67619030192,1876817811,43328178177,28355124700,108766810063,251894480780,28535974816,300353489226,1023829899225,1908633089253
5,6,48506443868,5211042046,63031916138,1989396669,48211908115,30419869000,113846138064,217342817256,34037633227,272084597846,970729888845,1805411651074
6,7,51608157115,7987831384,68406601665,2363352106,52711586136,29534344500,108016273269,211009320262,32458532080,251520485975,970264476300,1785880960792
7,8,65343224129,5247788823,76619969776,3010939882,41257803996,32542159000,109548741744,188071617400,39668316375,261540895337,1039077068720,1861928525182
8,9,44606513311,5501151049,60918243872,2124110625,36503902535,31686546000,101401250477,172122829624,23701368868,275724471142,889368690727,1643659078230
9,10,48025891645,4536673594,67105389266,2695294945,40420963715,26448479300,112234760136,231025813468,25035093789,271273924216,972424351533,1801226635607
10,11,45343133677,4044203816,63624428640,2527226145,39255954450,29516610500,99126846259,220451252841,25451186160,275815463818,932950439423,1738106745729
11,12,57371514005,5552594482,65557803406,2824743323,54981326317,32523644000,76430528485,232004515707,29584549775,272126100162,1009638981120,1838596300782

In [5]:
data1 = pd.read_excel('2020 월별 전국 관광지 지출액.xlsx')
data1

,월,숙박업,여행업,대중교통,렌터카,항공사,카지노,레저스포츠,면세점,문화서비스,쇼핑(면세점 제외),식음료,합계
0,1,49413116058,3983417424,63570546447,2771154998,37741896364,33140761500,74647135020,112315752849,23687407392,261828127248,887825368323,1550924683623
1,2,30951995382,606657050,35325739442,2407481183,15404511240,26508147500,66042282704,36808363153,9431388407,185302892335,698772426218,1107561884614
2,3,18714001551,279248998,20981272248,2393481781,8753543629,3317400200,77121393454,9696156178,3001806649,189997286637,637149157824,971404749149
3,4,20046521302,168395583,29007732250,2602949179,7440711188,148400000,94770982389,4605222836,2912582301,216591421769,736786961934,1115081880731
4,5,29345082356,199727102,38683864691,2881883728,11570329648,568300000,113080902708,8220215575,5527469682,262505541502,898481922394,1371065239386
5,6,29764950888,134473317,38612739454,3112739818,10632665134,209070500,107343855148,8542678209,5823867717,214905009533,830943342206,1250025391924
6,7,34986060565,291698780,44255666667,3503212028,14595679213,504350000,103376213712,9597397069,9056765819,206146863389,888995135797,1315309043039
7,8,41717490566,342361662,39862266304,4394973258,11026039060,457940000,90711690174,9491135123,11491795283,207427369405,854109954683,1271033015518
8,9,22059644608,235873894,35004608773,3417336398,9084719326,211850000,83664610761,6656390180,4000590580,231381058356,690480852929,1086197535805
9,10,28929305436,346311550,42245946564,3904923244,13195396346,601250000,110256956465,8513539130,8394172583,242581105055,845760996629,1304729903002
10,11,25967940528,216121731,39944650032,4201892558,12325884053,466500000,91616182385,9601989568,4864194721,206185785754,762557722386,1157948863716
11,12,20905427588,129827580,27433353201,3500372474,5640739787,21550000,49537031994,8218365650,1717862099,196705369054,536252443310,850062342737

In [6]:
data1["렌터카 전년 대비 증가율"] = (data1["렌터카"]-data["렌터카"]) / data["렌터카"] * 100
data1

,월,숙박업,여행업,대중교통,렌터카,항공사,카지노,레저스포츠,면세점,문화서비스,쇼핑(면세점 제외),식음료,합계,렌터카 전년 대비 증가율
0,1,49413116058,3983417424,63570546447,2771154998,37741896364,33140761500,74647135020,112315752849,23687407392,261828127248,887825368323,1550924683623,129.793475
1,2,30951995382,606657050,35325739442,2407481183,15404511240,26508147500,66042282704,36808363153,9431388407,185302892335,698772426218,1107561884614,79.346419
2,3,18714001551,279248998,20981272248,2393481781,8753543629,3317400200,77121393454,9696156178,3001806649,189997286637,637149157824,971404749149,69.593938
3,4,20046521302,168395583,29007732250,2602949179,7440711188,148400000,94770982389,4605222836,2912582301,216591421769,736786961934,1115081880731,62.256493
4,5,29345082356,199727102,38683864691,2881883728,11570329648,568300000,113080902708,8220215575,5527469682,262505541502,898481922394,1371065239386,53.551597
5,6,29764950888,134473317,38612739454,3112739818,10632665134,209070500,107343855148,8542678209,5823867717,214905009533,830943342206,1250025391924,56.466524
6,7,34986060565,291698780,44255666667,3503212028,14595679213,504350000,103376213712,9597397069,9056765819,206146863389,888995135797,1315309043039,48.230643
7,8,41717490566,342361662,39862266304,4394973258,11026039060,457940000,90711690174,9491135123,11491795283,207427369405,854109954683,1271033015518,45.966822
8,9,22059644608,235873894,35004608773,3417336398,9084719326,211850000,83664610761,6656390180,4000590580,231381058356,690480852929,1086197535805,60.883165
9,10,28929305436,346311550,42245946564,3904923244,13195396346,601250000,110256956465,8513539130,8394172583,242581105055,845760996629,1304729903002,44.879255
10,11,25967940528,216121731,39944650032,4201892558,12325884053,466500000,91616182385,9601989568,4864194721,206185785754,762557722386,1157948863716,66.265000
11,12,20905427588,129827580,27433353201,3500372474,5640739787,21550000,49537031994,8218365650,1717862099,196705369054,536252443310,850062342737,23.918249

In [7]:
trace1 = go.Scatter(x=data["월"], y=data["합계"] , name="2019 총 지출액")
trace2 = go.Scatter(x=data1["월"], y=data1["합계"], name='2020 총 지출액')
totaldata = [trace1, trace2]
layout = go.Layout(title='전국 관광지 지출액 비교')
fig = go.Figure(data=totaldata, layout=layout)
pyo.iplot(fig)

In [9]:
trace3 = go.Bar(x=data1["월"], y=data1["렌터카 전년 대비 증가율"], name='렌터카 지출액 증가율')
totaldata = [trace3]
layout = go.Layout(title='렌터카 전년 대비 증가율')
fig = go.Figure(data=totaldata, layout=layout)
pyo.iplot(fig)